!*.* unignores all files with an extension.
.venv/
__pycache__/
*.pyc
*.pyo
.env
.*
datasets/*.jsonl
results/
datasets/**
TRL-model/checkpoints/**
TRL-model/lightning_logs/**
TRL-model/outputs/**
TRL-model/multirun/**
TRL-model/optuna.db
=*
__pycache__/
*.log
*.
*.npz
*.pt
*.file
*.db
'*
*.png
*.jpg
*.jpeg
*.svg
*.pdf
datasets_TRL/**
CTA/checkpoints/**
CTA/lightning_logs/**
CTA/outputs/**
CTA/CTA/**
CTA/diagrams/**
CTA/multirun/**
CTA/optuna.db