.venv/
__pycache__/
*.pyc
*.pyo
.env
.*
datasets/*.jsonl
results/
datasets/**
TRL-model/checkpoints/**
TRL-model/lightning_logs/**
TRL-model/outputs/**
TRL-model/multirun/**
TRL-model/optuna.db
=*
__pycache__/
*.log
*.ckpt
*.db
'*
